.Mask {
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 50%;
  width: calc(var(--slider-widht, 100vw) * 0.66);
  height: calc(var(--slider-height, 100vh) * 0.66);
  max-width: 33%;
  max-height: 50%;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 15% 15%, 85% 15%, 85% 85%, 15% 85%, 16% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 15% 15%, 85% 15%, 85% 85%, 15% 85%, 16% 100%, 100% 100%, 100% 0%);
  transform: translate3d(-33.33%, -50%, 0);
  transition: all calc(var(--mask-duration, 200ms) * 1.5) ease 0s;
}

.Mask:not(.Active) {
  opacity: 0;
  z-index: 1;
  transform: translate3d(33.33%, -50%, 0);
  /* property name | duration | timing function | delay */
  transition: all var(--mask-duration, 200ms) ease 0s;
}

.Inner {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 200%;
  transform: translate3d(-50%, -50%, 0);
  background-size: cover;
  background-position: center center;
  -webkit-transform-origin: 50% 16.5vh;
  transform-origin: 50% 16.5vh;
  transition: all calc(var(--mask-duration, 200ms) * 1.66) ease 0s;
}

.Inner.Sliding {
  transition: all var(--mask-duration, 200ms) ease 0s;
  transform: translate3d(-85%, -50%, 0);
}

@media (max-width: 1024px) {
  .Mask {
    max-width: 50% !important;
  }
  .Inner {
    width: calc(var(--slider-width, 100vw) * 0.66);
    height: calc(var(--slider-height, 100vh) * 0.66);
  }
}

/* Mask LazyLoad */

.Loader {
  opacity: 0;
  z-index: -1;
}

.Loading {
  opacity: 0;
}

.Loaded {
  opacity: 0;
  animation-name: slide-in;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-fill-mode: forwards;
  animation-duration: var(--background-fade-in-duration, 1500ms);
  animation-delay: var(--background-fade-in-delay, 100ms);
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-clip-path: inset(50% 50% 50% 50%);
    clip-path: inset(50% 50% 50% 50%);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
