.Loader,
.Loading,
.Loaded {
  position: absolute;
  top: 0;
  left: 0;
}

.Loader {
  opacity: 0;
  z-index: -1;
}

.Loading {
  opacity: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.Loaded {
  opacity: 0;
  animation: fade-in var(--background-fade-in-duration, 1500ms) ease-in-out var(--background-fade-in-delay, 100ms);
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

/* Animations */

.ZoomOut {
  opacity: 0;
  transform: scale(1.5);
  animation: 
    fade-in var(--background-fade-in-duration, 1500ms) ease-in-out var(--background-fade-in-delay, 100ms) forwards, 
    zoom-out var(--background-zoom-out-duration, 30000ms) ease-in-out var(--background-zoom-out-delay, 100ms) forwards;
}

@keyframes zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}