.Wrapper {
  position: absolute;
  display: inline-flex;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  animation: fade-in var(--nav-fade-in-duration, 500) ease-in var(--nav-fade-in-delay, 1000) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.Button,
.ExtraButton {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 48px;
  list-style: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--nav-color, #FFF);
  flex-basis: 0;
  flex-grow: 1;
  transition: all 200ms ease-in-out;
  outline: 0;
  padding: 0;
  font-weight: 600;
}

.ExtraButton {
  align-items: unset;
}

/* Backgrounds set in :before to allow for opacity */
.Button:not(.Active)::before,
.ExtraButton:not(.Active)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--nav-background-color, rgba(255, 255, 255, 0.8));
  z-index: -1;
}

.Button:hover:not(.Active),
.ExtraButton:hover:not(.Active) {
  background-color: var(--nav-color, #FFF);
  color: var(--nav-active-color, rgb(59, 62, 69));
}

.ExtraButton {
  color: var(--nav-color, #FFF);
}

.Button:not(.Active):not(:first-child),
.ExtraButton {
  box-shadow: -1px 0px 0px 0px var(--nav-background-color, rgba(215, 225, 235, 0.8));
}

.Description {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
}

.Text {
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.Active {
  height: 54px;
  cursor: default;
  color: var(--nav-color, #FFF);
  background-color: transparent;
}

/* Backgrounds set in :before to allow for opacity */
.Active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  box-shadow: -1px 0px 0px 0px var(--nav-active-color, rgb(59, 62, 69));
  background-color: var(--nav-active-color, rgb(59, 62, 69));
  z-index: -1;
}

.Active + .Button,
.Active + .ExtraButton {
  box-shadow: -1px 0px 0px 0px transparent !important;
}