.Background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.Loading,
.Loaded {
  position: absolute;
  top: 0;
  left: 0;
}

.Loading {
  visibility: hidden;
}

/* Animations when loaded */

.FadeIn {
  opacity: 0;
  animation: fade-in var(--background-animation-duration, 300ms) ease-in-out var(--background-animation-delay, 0ms) forwards;
}

.ZoomOut {
  transform: scale(1.5);
  animation: 
    fade-in 300ms ease-in-out 0ms forwards, 
    zoom-out var(--background-animation-duration, 30000ms) ease-in-out var(--background-animation-delay, 100ms) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
