.Wrapper {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  opacity: 0;
  animation: fade-in var(--nav-fade-in-duration, 500) ease-in var(--nav-fade-in-delay, 1000) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Button {
  position: relative;
  color: currentColor;
  height: 50px;
  max-width: 60px;
  min-width: 50px;
  width: 15%;
  margin: 0 6px;
  border-bottom: 2px solid var(--nav-color, rgba(200, 215, 235, 0.6));
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Active {
  border-color: var(--nav-active-color, rgba(200, 215, 235, 1))
}

@media (max-width: 744px) {
  .Button {
    display: block;
    cursor: pointer;
    color: currentColor;
    outline: none;
    height: 14px;
    width: 14px;
    min-width: 14px;
    max-width: 14px;
    margin: 0 9px;
    border: 0;
    font-size: 0;
    line-height: 0;
    background: var(--nav-color, rgba(200, 215, 235, 0.6));
    border-radius: 50%;
  }

  .Active {
    background: var(--nav-active-color, rgba(200, 215, 235, 1));
  }
}
