.Wrapper {
  position: absolute;
  z-index: 2;
}

.Wrapper,
.Wrapper * {
  /* To disable double-tap zoom */
  touch-action: manipulation;
}

.Container {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 400ms;
}

.Button {
  /* Disabling button styling */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Button svg {
  opacity: 0.5;
  width: 60px;
  height: 60px;
  transition: all 200ms ease-in-out;
  color: #FFF; 
}

.Button:hover svg {
  opacity: 1;
  width: 80px;
  height: 80px;
  color: #FFF; 
}

/**
* --------------------------------------
* -------------HORIZONTAL---------------
* --------------------------------------
*/

.Horizontal.Wrapper {
  top: 0;
  width: 20%;
  height: 100%;
  min-width: 120px;
  max-width: 220px;
}

.Horizontal.Previous {
  left: 0;
}

.Horizontal.Next {
  right: 0;
}

.Horizontal .Container:hover {
  --shadow: 100%;
}

.Horizontal.Previous .Container {
  left: 33%;
  transform: translateX(-50%) scaleX(-1);
  background: linear-gradient(
    90deg,
    var(--c1, transparent) 50%,
    var(--c2, rgb(37, 37, 37, .05)) 60%,
    var(--c3, rgb(37, 37, 37, 0.5)) 85%
  ) var(--shadow, 0) / 200%;
}

.Horizontal.Next .Container {
  right: 33%;
  transform: translateX(50%);
  background: linear-gradient(
    90deg,
    var(--c1, transparent) 50%,
    var(--c2, rgb(37, 37, 37, .05)) 60%,
    var(--c3, rgb(37, 37, 37, 0.5)) 85%
  ) var(--shadow, 0) / 200%;
}

/**
* ------------------------------------
* -------------VERTICAL---------------
* ------------------------------------
*/

.Vertical.Wrapper {
  width: 100%;
  height: 15%;
  max-height: 200px;
}

.Vertical.Previous {
  top: 0;
}

.Vertical.Next {
  bottom: 0;
}

.Vertical .Container:hover {
  --shadow: 0;
}

.Vertical.Previous .Container {
  background: linear-gradient(to bottom,
    rgb(37, 37, 37, 0.66) 0%,
    rgb(37, 37, 37, 0.33) 50%,
    rgb(37, 37, 37, 0.15) 75%,
    rgb(37, 37, 37, 0.01) 100%) no-repeat 0px var(--shadow, -200px);
}

.Vertical.Previous svg {
  transform: rotate(-90deg);
}

.Vertical.Next .Container {
  background: linear-gradient(to top,
    rgb(37, 37, 37, 0.66) 0%,
    rgb(37, 37, 37, 0.33) 50%,
    rgb(37, 37, 37, 0.15) 75%,
    rgb(37, 37, 37, 0.01) 100%) no-repeat 0px var(--shadow, 200px);
}

.Vertical.Next svg {
  transform: rotate(90deg);
}