.Wrapper {
  width: 60px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
  opacity: 0;
  animation: fade-in var(--nav-fade-in-duration, 500) ease-in var(--nav-fade-in-delay, 1000) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Button {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: right;
  color: var(--nav-color, #C8D7EB);
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Active {
  color: var(--nav-active-color, #FFF);
}

.Line {
  width: 20px;
  height: 1px;
  background-color: currentColor;
  transition: all ease 200ms;
}

.Number {
  width: 10px;
  font-size: 19px;
  margin: 0;
  transform: scaleX(0);
  transition: all ease 200ms;
}

.Active .Line {
  width: 50px;
}

.Active .Number {
  margin: 0 0.5ch;
  transform: scaleX(1);
}