.Wrapper {
  position: absolute;
  z-index: 2;
  width: 90%; /* May be placeholder. */
  min-height: 30px; /* Placeholder. */
  margin: 0 auto;
}

.Container {
  display: flex;
  position: relative;
  border-top: 1px solid rgba(215, 225, 235, 0.6);
}

.Bar {
  position: absolute;
  top: 0px;
  height: 4px;
  background-color: #FFF;
  opacity: 0.75;
  transition: transform 400ms ease;
}